@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap');

/* Header Start */

li.nav-item.active .nav-link,
.navbar-expand-sm .navbar-nav .nav-link:hover,
span.nav-link>span {
    color: #FF7E02;
}

.navbar-expand-sm .navbar-nav .nav-link {
    color: #444444;
    font-weight: 500;
    font-size: 15px;
}

.long-arrow-right::after {
    content: "";
    display: block;
    width: 1.5px;
    height: 27px;
    background-color: #fff;
    transform: rotate(-45deg) translate(9px, 4px);
    left: 0;
    top: 0;
}

.long-arrow-right {
    display: inline-block;
    margin: 0px 0px 0px 25px;
    width: 10px;
    transform: rotate(135deg);
    height: 10px;
    border-top: 1.5px solid #fff;
    border-left: 1.5px solid #fff;
}


li.nav-item.contact-menu>.nav-link {
    color: #fff;
}

li.nav-item.contact-menu {
    background: #FF7E02;
    margin-left: 15px;
}

/* Header End */

/* Banner Sec */
.banner-sec h2 {
    text-align: left;
    letter-spacing: -2px;
    font-size: 85px;
    color: #333333;
    line-height: 1;
    margin-bottom: .6em;
}

a.banner-btn {
    background: #FF7E02;
    text-decoration: none;
    color: #fff;
    padding: 10px 36px;
    text-align: center;
    font-size: 14px;
    margin-right: 15px;
}

.banner-sec span {
    color: #333333;
    font-weight: 500;
    font-size: 15px;
}

.banner-sec {
    padding: 4em 0;
}

.banner-sec img {
    width: 100%;
}

/* Banner Sec */

/* Meat Up Sec */
.meet-up-sec {
    text-align: center;
    padding: 2em 0;
    max-width: 775px;
    margin: auto;
}

.meet-up-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 4em;
    /* grid-gap: 2em; */
}

.meet-up-grid p {
    font-size: 10px;
    color: #4C4C4C;
}

.meet-up-grid h4 {
    font-size: 13px;
    max-width: 125px;
    font-weight: 700;
    margin: 15px auto;
    color: #4C4C4C;
}

.meet-up-grid>div {
    padding: 0 2em;
}

.meet-up-grid>div {
    border-right: 4px solid #444;
}

.meet-up-grid>div:first-child {
    border: 4px solid #444444;
    border-bottom: 0;
    border-top: 0;
}

.meet-up-sec>p {
    font-size: 14px;
    color: #6A6A6A;
}

.meet-up-sec>h3 {
    font-size: 29px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 5px;
}

span.divide.long-arrow-right {
    display: inline-block;
    width: 50px;
    transform: rotate(136deg);
    height: 50px;
    border-top: 3px solid #444444;
    border-left: 3px solid #444444;
    position: absolute;
    right: -12px;
    top: 0;
    bottom: 0;
    background: #fff;
    margin: auto;
}

/* Meat Up Sec */

/* Explore section */
.flex-container {
    display: flex;
    overflow: scroll hidden;
    width: 118%;
}

.flex-container::-webkit-scrollbar {
    display: none;
}

.flex-container img {
    height: 240px;
    margin: 0 3px;
}

.explore-jobs {
    padding: 2em 0;
}

.explore-jobs>p {
    text-align: center;
    color: #6A6A6A;
    font-size: 15px;
}

.explore-jobs>h3 {
    text-align: center;
    font-size: 40px;
    color: #333333;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.explore-jobs-inner {
    margin-top: 2.5em;
}

.explore-jobs-inner>h4 {
    color: #333333;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 1.2em;
}

/* Explore section */

/* Testimonial Section */
.testimonial-sec {
    background: transparent linear-gradient(180deg, #FF9929 0%, #FF8D21 12%, #FF720F 47%, #FF6103 77%, #FF5B00 100%) 0% 0% no-repeat padding-box;
    padding: 2em 0;
    text-align: center;
}

.testimonial-sec>div>p {
    color: #fff;
    font-size: 15px;
    margin: auto;
    max-width: 650px;
}

.testimonial-sec>div>h3 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 5px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.testimonial-inner>img {
    position: absolute;
    top: -65px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    width: 140px;
}

.testimonial-inner {
    margin-top: 6em;
    background: #fff;
    position: relative;
    border-radius: 5px;
    padding: 5em 2em 1.5em;
}

.testimonial-inner h4 {
    font-size: 22px;
    margin-bottom: 5px;
    color: #3D3D3D;
}

.testimonial-inner>h5 {
    font-size: 12px;
    color: #3D3D3D;
}

.testimonial-inner>p {
    font-size: 12px;
    margin-top: 1.5em;
    line-height: 1.3;
    margin-bottom: 5px;
}

.testimonial-inner>ul>li>img {
    height: 14px;
}

.testimonial-inner>ul>li {
    display: inline-block;
    margin: 10px;
}

.testimonial-inner>ul {
    list-style: none;
    padding: 0;
}

.testimonial-inner a.testimonial-btn:hover {
    background: #FF7E02;
    color: #fff;
}

.testimonial-inner a.testimonial-btn {
    border: 2px solid #FF7E02;
    padding: 10px 30px;
    color: #FF7E02;
    font-size: 14px;
    text-decoration: none;
}

.testimonial-sec .width-control {
    max-width: 950px;
    margin: auto;
}

/* Testimonial Section */

/* Perk Section */
.perk-sec p {
    color: #434343;
    font-size: 13px;
}

.perk-sec img {
    margin-bottom: 1.5em;
    height: 60px;
}

.perk-sec>h3 {
    text-align: center;
    font-size: 40px;
    color: #333333;
    font-weight: 700;
    margin-bottom: 1.5em;
}

.perk-sec {
    padding: 2em 0 4em;
    text-align: center;
}


/* Perk Section */

/* Quote Section */

.quote-sec {
    background: url(../images/career/Group\ 1238@2x.png);
    padding: 5em 0;
    margin-top: 1em;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.quote-inner h3 {
    color: #fff;
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 2em;
}

.quote-inner {
    text-align: center;
    margin-top: -50px;
    max-width: 650px;
    margin: -30px auto 0;
}

/* Quote Section */

/* Start Up Resources Start */
/* Banner  */
.startup-banner-sec {
    background: url(../assets/images/startup-resources/startup-bg.jpg);
    background-size: cover;
}

.startup-banner-sec img {
    width: 100%;
    padding-top: 4em;
    margin-bottom: -2px;
}

.startup-banner-sec p {
    font-size: 36px;
    margin-top: .5em;
    color: #fff;
}

.startup-banner-sec h3 {
    color: #FFFFFF;
    font-size: 68px;
}

/* Banner  */

/* Contect Section  */
.start-up-des p {
    color: #333333;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.start-up-des {
    padding: 3em 0;
    max-width: 1023px;
    margin: auto;
}

.startup-banner-sec input[type="text"],
.startup-banner-sec input[type="submit"] {
    width: 95%;
    margin: 10px 0;
    border-radius: 3px;
    padding: 7px;
    box-shadow: unset;
    border: unset;
}

.startup-banner-sec input[type="submit"] {
    margin: 20px 0;
    padding: 12px;
    color: #722EBC;
    font-size: 15px;
    font-weight: 700;
    border-radius: 7px;
}

.startup-banner-sec input[type="text"]::placeholder {
    color: #722EBC;
    font-size: 15px;
    font-weight: 700;
}

.startup-banner-sec form {
    padding: 6em 0;
}

.post-detail {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -3px 8px 20px #3131313D;
    border: 2px solid #EFEFEF;
    padding: 2em;
    margin-bottom: 3em;
}

.post-share p {
    margin: auto 0;
}

.post-share {
    display: flex;
}

.post-share>div>p {
    height: 31px;
    width: 48px;
    padding: 2px;
    text-align: center;
    margin: 0 5px;
    border-radius: 5px;
    color: #fff;
}

.post-inner-detail {
    border: 1px solid #DEDEDE;
    padding: 2em;
    margin: 1.5em 0 1em;
    position: relative;
}

.post-content {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 2em;
}

p.time-left span {
    margin-right: 7px;
}

.inner-right>P {
    margin-bottom: 8px;
    color: #333333;
    font-size: 13px;
}

.inner-left>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

a.post-visit {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
    display: block;
    width: 90%;
    padding: 10px;
    background: transparent radial-gradient(closest-side at 86% 22%, #D650D1 0%, #3B1AAF 100%) 0% 0% no-repeat padding-box;
}

p.post-tag {
    margin: 0;
    background: transparent radial-gradient(closest-side at 86% 22%, #D650D1 0%, #3B1AAF 100%) 0% 0% no-repeat padding-box;
    width: max-content;
    color: #fff;
    padding: 4px 15px;
    position: absolute;
    top: 20px;
    font-size: 11px;
    left: -17px;
}

.post-inner-detail>h4 {
    font-size: 30px;
    color: #333333;
    margin-top: 1em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.post-detail h5 {
    text-transform: uppercase;
    margin: 1.5em 0 1em;
    font-size: 17px;
    color: #333333;
}

p.time-left {
    color: #3B1AAF;
    font-size: 12px;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 10px;
}

.post-share>p {
    color: #444444;
    font-weight: 500;
    font-size: 15px;
    margin-right: 1em;
}

.post-share>div {
    display: flex;
}

p.twitter {
    background: #29A9E1;
}

p.gplus {
    background: #DF4B38;
}

p.facebook {
    background: #3E5C9A;
}

p.insta {
    background: #f09433;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

p.spot {
    background: #1EC85A;
}

p.linkedin {
    background: #117BB8;
}

p.be {
    background: #0057FF;
}

p.pin {
    background: #c8232c;
}

.related-post img {
    width: 100%;
}

.related-post>div>p {
    position: absolute;
    margin: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 6px;
    padding-left: 6px;
    background: transparent linear-gradient(0deg, #1C1C1C 0%, #67676700 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: auto;
    text-transform: uppercase;
}

.comment-count>div:last-child {
    display: flex;
}

.comment-count p>span {
    margin-left: 5px;
}

.comment-count {
    margin: 1.5em 0;
}

textarea.comment-text::placeholder {
    font-size: 14px;
    color: #722EBC;
    font-weight: 500;
}

.comment-count>div:last-child>p:last-child {
    margin: 0;
}

.comment-count p {
    color: #722EBC;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    margin-right: 3em;
    margin-bottom: 0;
}

.comment-count img {
    width: 14px;
    margin: 0 !important;
}

.comment-count {
    display: flex;
    justify-content: space-between;
}


.related-post>div {
    margin: 15px 0;
    position: relative;
}


.comment-inner>div:first-child {
    margin: auto;
}

textarea.comment-text {
    width: 100%;
    padding: 1.5em;
    height: 130px;
    border: 1px solid #929292;
    border-radius: 5px;
    resize: none;
    overflow: hidden;
}

.comment-sec {
    margin-bottom: 2.5em;
    margin-top: 3em;
}

.comment-inner {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 1em;
}

.comment-inner img {
    margin-top: 1.5em;
}

/* Start Up Resources End */

/* Footer  */
footer .footer-bottom ul,
footer .footer-bottom ul li {
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0;
}

.footer-top ul,
.footer-top ul li {
    list-style: none;
    margin: 0px 0px 7px;
    padding: 0;
}

.footer-top ul li a {
    color: #6A6A6A;
    text-decoration: none;
}

footer .footer-bottom ul>li>a {
    color: #6A6A6A;
    text-decoration: none;
    margin: 0 10px;
}

.footer-bottom p {
    margin: 0;
}

footer .footer-bottom {
    padding: 1.2em 0;
    border-top: 1px solid #ededed;
}

.footer-top p {
    color: #76797e;
}

.footer-top img {
    margin-bottom: .5em;
}

.footer-top {
    padding: 3em 0 4em;
}

.footer-top p.numb,
footer .footer-bottom ul>li>a:hover,
footer .footer-top ul>li>a:hover {
    color: #FF7E02;
}

.footer-top h3 {
    color: #76797e;
    font-size: 18px;
    margin: 15px 0px 25px;
    font-weight: 600;
}

/* Footer  */

/* Media Queries */
@media(min-width:1024px) and (max-width:1199px) {
    .flex-container {
        width: 105%;
    }

    .navbar-expand-sm .navbar-nav .nav-link {
        font-size: 12px;
    }
}

@media(min-width:768px) and (max-width:1023px) {
    .flex-container {
        width: 105%;
    }


    .collapse.navbar-collapse.extra {
        display: none !important;
    }

    .small-display {
        display: none;
    }

    .skills-btn_wrapper>div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px;
        margin-bottom: 12px;
    }

    .skills-btn_wrapper a {
        white-space: nowrap;
        color: #000;
        border: 2px solid #FF7E02;
        border-radius: 5px;
        font-size: 12px;
        padding: 1px 10px;
        margin: 0 4px;
        line-height: 3;
        text-decoration: none;
    }

    .start-up-des p {
        font-size: 18px;
    }

    .startup-banner-sec h3 {
        font-size: 44px;
    }

    .startup-banner-sec p {
        font-size: 30px;
    }

    .related-post {
        display: flex;
    }

    .related-post>div {
        margin: 10px 5px;
    }

    .post-detail .row {
        flex-direction: column-reverse;
    }

    .post-inner-detail>h4 {
        font-size: 24px;
    }

}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media (max-width: 767px) {

    .banner-sec .row,
    .startup-banner-sec .row {
        flex-direction: column-reverse;
    }

    .startup-banner-sec.form .row {
        flex-direction: column;
    }

    .startup-banner-sec h3 {
        padding: 1em 0 0;
    }

    .startup-banner-sec p {
        padding: 0 0 1.5em;
    }

    .startup-banner-sec.form h3 {
        padding: 1.5em 0 0;
    }

    .startup-banner-sec.form p {
        padding: 0 0 1em;
    }

    .startup-banner-sec form {
        padding: 0em 0 6em;
    }

    .start-up-des p {
        font-size: 18px;
    }

    .startup-banner-sec h3 {
        font-size: 44px;
    }

    .startup-banner-sec input[type="text"],
    .startup-banner-sec input[type="submit"] {
        width: 100%;
    }

    .startup-banner-sec p {
        font-size: 30px;
    }

    .flex-container {
        width: 104%;
    }

    .meet-up-grid {
        grid-template-columns: 1fr;
        grid-gap: 2em;
    }

    .meet-up-grid>div:first-child,
    .meet-up-grid>div {
        border: 0;
    }

    span.divide.long-arrow-right {
        display: none;
    }

    .meet-up-grid h4 {
        max-width: 160px;
    }

    .banner-sec {
        padding-top: 1em;
    }

    .banner-sec h2 {
        font-size: 60px;
        margin-top: .5em;
    }

    .banner-sec span {
        display: block;
        margin-top: 2em;
    }

    .explore-jobs>h3,
    .perk-sec>h3 {
        font-size: 34px;
    }

    .quote-inner {
        margin-top: 5px;
    }

    .quote-sec {
        background-size: cover;
    }

    footer {
        text-align: center;
    }

    .text-right {
        text-align: center !important;
    }

    .footer-bottom p {
        margin-bottom: 10px;
    }

    .footer-top {
        padding: 3em 0 2em;
    }

    .comment-count p {
        font-size: 10px;
        margin-right: 2em;
        white-space: nowrap;
    }


    li.nav-item.contact-menu {
        background: #FF7E02;
        padding: 0 15px;
        width: max-content;
        margin-left: 0;
        margin-top: 10px;
    }

    .navbar-expand-sm .navbar-nav .nav-link {
        margin: 3px 0;
    }

    .small-display,
    .small-display1 {
        display: none;
    }

    .skills-btn_wrapper a {
        white-space: nowrap;
        color: #000;
        border: 2px solid #FF7E02;
        border-radius: 5px;
        font-size: 12px;
        padding: 1px 10px;
        margin: 0 4px;
        line-height: 3;
        text-decoration: none;
    }

    .post-share>p:first-child {
        white-space: nowrap;
    }

    .post-share>div {
        flex-flow: wrap;
    }

    .post-share>div>p {
        margin: 5px 5px;
    }

    .post-content {
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }

    .post-inner-detail>h4 {
        font-size: 18px;
    }

    .related-post {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

    .post-detail h5 {
        margin: 1.5em 0 0em;
    }

    .inner-right>P {
        font-size: 11px;
    }
}

/* Media Queries */

/* JOB DESCRIPTION START */
@media (min-width: 1200px) {
    .banner-wrapper .banner-sec {
        max-width: 1140px;
        margin: 0 auto;
    }
}

.banner-wrapper {
    background: #F4F4F4;
}

.banner-sec h3 {
    text-align: left;
    letter-spacing: 2px;
    font-size: 44px;
    color: #333333;
    line-height: 1.2;
    margin-bottom: .3em;
}

.banner-sec h3 span {
    font-size: 44px;
    font-weight: 300;
}

.about-role-sec {
    margin-top: 3em;
}

.about-role-sec .row>div:nth-child(2) {
    margin: 0px !important;
}

.about-role-sec p {
    color: #7A7A7A;
}

.price-section {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1em;
    margin: 2em 0em;
    align-items: center;
}

.price-section h6 span {
    color: #FF7E02;
}

.price-section p {
    margin-bottom: 0.5rem;
}

.about-role-sidebar {
    margin-bottom: 3em;
}

.about-role-sidebar div {
    border: 2px solid #f2ecec;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 12px 5px;
}

.about-role-sidebar span {
    margin: 0em 1em;
    color: #AFAFAF;
}

.about-role-sidebar span img {
    width: 1.4em;
}

.about-role-sidebar .sidebar-head {
    background: #FF7E02;
}

.about-role-sidebar .sidebar-head span {
    color: #fff;
}

.url-textbox {
    font-size: 12px;
    color: #474747;
    white-space: nowrap;
    overflow: hidden;
}

.job-url-wrapper div {
    border: 2px solid #f2ecec;
    border-radius: 5px;
}

.job-url {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.job-url .url-btn {
    color: #fff;
    background: #FF7E02;
    padding: 12px 2em;
    border-radius: 5px;
}

.url-btn a {
    color: #fff;
    text-decoratiomn: none;
}

.tech-capability {
    margin: 2em 0em;
}

.tech-capability h3 {
    text-decoration: underline;
}

.skills-btn_wrapper {
    margin: 2em 0em;
}

.cirle-box {
    color: #FF7E02;
}

.fade-color {
    color: #8F8F8F;
}

.tech-capability .row>div:nth-child(2) {
    margin: 0px !important;
}

.tech-capability .row>div:nth-child(2) h6 {
    margin-bottom: 2em;
}

.job-desc {
    margin-top: 1em;
    margin-bottom: 3em;
    color: #7A7A7A;
}

.job-role ul {
    padding: 20px;
}

.job-role li {
    color: #7A7A7A;
}

.job-role td {
    padding: 8px;
}

.job-role td:first-child {
    padding-left: 0px;
    color: #7A7A7A;
}

.job-apply-btn {
    display: grid;
    grid-template-columns: 15% 15%;
    grid-gap: 1em;
    margin: 2em 0em;
}

.job-apply-btn div {
    padding: 8px 10px;
    background: #FF7E02;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.job-apply-btn div:nth-child(2) {
    background: #fff;
    color: #FF7E02;
    border: 1px solid #FF7E02;
}

.education-wrapper {
    margin-top: 3em;
}

.share-btn {
    writing-mode: vertical-rl;
}

.price-section p>img {
    margin-right: 7px;
}

.skills-btn_wrapper>div:first-child {
    margin-bottom: 14px;
}

.skills-btn_wrapper a {
    white-space: nowrap;
    color: #000;
    border: 2px solid #FF7E02;
    border-radius: 5px;
    font-size: 12px;
    padding: 9px;
    margin: 0 4px;
    line-height: 3;
    text-decoration: none;
}

/* Pop up section */

.modal {
    position: absolute;
    z-index: 10000;
    /* 1 */
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.modal.is-visible {
    visibility: visible;
    display: block;
}

.modal-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.is-visible .modal-overlay {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.modal-wrapper {
    position: absolute;
    z-index: 9999;
    top: 6em;
    left: 50%;
    width: 32em;
    margin-left: -16em;
    background-color: #fff;
    box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}

.modal-transition {
    transition: all 0.3s 0.12s;
    transform: translateY(-10%);
    opacity: 0;
}

.modal.is-visible .modal-transition {
    transform: translateY(0);
    opacity: 1;
}

.modal-header,
.content {
    padding: 2em;
}

.content {
    padding-top: 0;
}

.modal-header {
    position: relative;
    background-color: #fff;
    border: 0;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    color: #aaa;
    background: none;
    border: 0;
}

.modal-close:hover {
    color: #777;
}

.modal-heading {
    font-size: 21px;
    margin: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
}

.modal-content>*:first-child {
    margin-top: 0;
}

.modal-content>*:last-child {
    margin-bottom: 0;
}

.job-role .modal {
    height: 115%;
}

.job-role .form-control::placeholder {
    color: #B3B3B3;
}

.job-role .form-control {
    border: 1px solid #CCCCCC;
    padding: 1.375rem .75rem;
}

.job-role .form-group label {
    font-size: 14px;
    font-weight: 500;
}

.job-role .submit-resume {
    width: 100%;
    background: #FF7E02;
    padding: 12px 0px;
    border: 1px solid #FF7E02;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    margin-top: 1em;

}

.terms {
    text-align: center;
    margin-top: 1em;
}

.terms a {
    font-size: 14px;
    color: #333333;
}

.terms span {
    color: #FF7E02;
}

/* Pop up section */
/* media query for job description start*/

@media(min-width: 1200px) {
    .banner-wrapper .banner-sec h3 {
        max-width: 530px;
    }

    .banner-wrapper .banner-sec p {
        max-width: 450px;
    }

    .banner-wrapper .about-role-sec p {
        max-width: 600px;
    }
}

@media(max-width: 767px) {
    .banner-wrapper .banner-sec h3 {
        margin: 1em 10px 1em 10px;
        font-size: 30px;
    }

    .banner-wrapper .banner-sec p {
        margin: 0em 10px 0em 10px;
    }

    .banner-wrapper .banner-sec h3 span {
        margin-top: 0px;
        display: inline-block;
        font-size: 30px;
    }

    .tech-capability {
        margin-top: 3em;
    }

    .skills-btn_wrapper div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px;
        margin-bottom: 12px;
    }

    .skills-btn_wrapper a {
        padding: 0px 9px;
    }

    .tech-capability .row>div:nth-child(2) h6 {
        margin: 1em 0em;
    }

    .job-apply-btn {
        grid-template-columns: auto;
        margin: 2em 4px;
    }

    .modal-wrapper {
        left: 0;
        width: 100%;
        margin-left: 0px;
    }
}


/* media query for job description end*/
/* JOB DESCRIPTION END */

/* EVENT MAIN PAGE */
.event-main .banner-sec h2{
    margin-bottom: 0.2em;
}
.event-main .banner-sec P{
    margin-bottom: 2rem;
}
.event-main .tickets{
    box-shadow: 0px 10px 20px #E6710047;
}
.event-main .more{
    border: 2px solid #FF7E02;
    border-radius: 2px;
    padding: 8px 36px;
    font-size: 14px;
    margin-right: 15px;
    text-decoration: none;
    color: #FF7E02;
}
.help-inner {
    margin: 0em 3em;
}
.help-inner h5{
    color: #FF7E02;
}
.help-inner p{
    font-size: 12px;
    font-style: italic;
    color: #9A9A9A;
}
.startup-3-box{
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    border: 1px solid #C8C8C8;
    min-height: 13em;
}
.startup-3-box div{
    text-align: center;
}
.startup-3-box h5{
    margin: 1em;
}
.ca-programme h3{
    display: block;
    width: 100%;
    font-size: 50px;
    margin-bottom: 1em;;
}
.ca-programme{
    margin: 6em 8em;
    text-align: center;
}
.ca-programme .row:last-child{
    padding: 2em 0em;
}
.ca-3-box{
    text-align: center;
    padding: 4em 2em;
    border: 2px solid #E2E2E2;
    border-radius: 17px;
}
.ca-3-box .ca-box-content{
    margin: 2em 0em 2em 0em;
}
.middle-box{
    position: absolute;
    width: 90%;
    top: 30%;
}
.ca-box-content{
    margin-bottom: 0.5rem;
}
.ca-box-content p:first-child{
    font-weight: 500;
}
.ca-box-content p:last-child{
    font-size: 10px;
    color: #343434;
}

.ca-programme a{
    font-size: 10px;
    border: 2px solid #FF7E02;
    padding: 8px 3em;
    color: #FF7E02;
    font-weight: 700;
    text-decoration: none;
    border-radius: 2px;
}

    